<%= "Hey #{@game.player1.name}, hey #{@game.player2.name}! Welcome to the Battle..." %>
<h3><%= @game.player1.name %> has 100 Hit Points</h3>
<h3><%= @game.player2.name %> has 100 Hit Points</h3>

<form action="/attack">
  <input type='submit' value='Attack!'>
</form>

